:root{
    --Purple: #755CDE;
    --Orange :#F6A560;
    --Pink: #F39E9E;
    --Salmon: #EB7565;
    --Green: #61C4B7;
    --Dark-fuchsia: #552049;
    --Black: #030303;
    --Dark-beige: #7A746E;
    --white: #FFF7F0;
}
